* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #203641;
    color: #FFF5D7;
    padding: 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 70px;
}

nav ul li a {
    color: #FFF5D7;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    height: 200px; /* Ajuste de altura */
    background-color: #f0f0f0; /* Cor de fundo */
    margin: 70px 0; /* Espaço acima e abaixo da div */
}

.intro-title {
    font-family: 'Bungee Tint', cursive; /* Aplica a fonte Bungee Tint */
    font-size: 70px; /* Tamanho da fonte */
    margin-bottom: 5px; /* Espaço entre o título e o nome */
}

.intro-name {
    font-family: 'Embed code', cursive; /* Aplica a fonte Embed code */
    font-size: 50px; /* Tamanho da fonte para o nome */
}

main {
    display: flex;
    align-items: center; /* Alinha a imagem e a biografia no topo */
    justify-content: center;
    gap: 30px; /* Espaço entre a biografia e a imagem */
    padding: 20px;
    margin: 10px;
}

.biografia {
    flex: 1; /* Permite que a biografia ocupe o espaço disponível */
    max-width: 600px; /* Define a largura máxima para a biografia */
}

.imagem-perfil {
    flex-shrink: 0; 
}

.imagem-perfil img {
    max-width: 400px; /* Ajusta a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas à imagem */
}

main h1 {
    font-family: 'Nerko One', cursive; /* Aplica a fonte */
    font-size: 50px;
    color: #203641;;
    margin-bottom: 30px;
}

main p {
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte */
    font-size: 17px;
    font-weight: bold;
    color: #3b5a69;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    height: 60px; /* Ajuste de altura */
    background-color: #203641; /* Cor de fundo */
    margin-top: 100px;
}

.footer-content {
    color: #f0f0f0;
}

ol.formacoes {
    list-style: none; /* Remove a numeração padrão da lista ordenada */
    padding-left: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

ol.formacoes li {
    font-size: 20px;
    position: relative; /* Permite o posicionamento do pseudo-elemento */
    padding-left: 20px; /* Espaço à esquerda para o ponto */
    margin-bottom: 10px; /* Espaço entre os itens da lista */
}

ol.formacoes li::before {
    content: "\2022"; 
    color: #203641; /* Cor do ponto */
    font-size: 30px; /* Tamanho do ponto */
    position: absolute; /* Posiciona o ponto absolutamente dentro do item */
    left: 0; /* Alinha o ponto à esquerda do item da lista */
    top: 50%; /* Centraliza verticalmente o ponto no item */
    transform: translateY(-50%); /* Ajusta o alinhamento vertical do ponto */
}

.fundo-imagem {
    gap: 30px;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    height: 600px; /* Ajuste de altura */
    width: 1200px;
    background-color: #F0F0F0; /* Cor de fundo */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte */
    color: #3b5a69;
}

.imagem-portfolio {
    width: 600px;
}

.botao-link {
    display: inline-block;
    padding: 10px 40px;
    font-size: 16px;
    color: white;
    background-color: #ff0000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

